header {
    background-color: #8099B8;
    color: #fff;
    padding: 50px;
    text-align: right;
}

html{
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    background-size: cover;
   
}
.content-wrapper {
    margin-top: 40px;
    min-height: 600px;
    padding-bottom: 60px;
    padding-top: 10px;
}
.panel-heading{
   border-bottom:0px; 
}
